* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
  /* background: #ccc; */
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
}

.col {
  /* outline: 2px solid black; */
  width: calc(100% / 4);
  float: left;
  padding: 0 10px;
}

.item > img {
  width: 100%;
}

#products {
  padding-top: 50px;
  padding-bottom: 50px;
}
